APP_NAME=cadastro-investidor-api
APP_VERSION=0.0.1-SNAPSHOT
APP_PORT=5432
DB_URL=jdbc:postgresql://plataforma-db.cujk8qoqkp19.us-east-1.rds.amazonaws.com:5432/postgres
DB_USERNAME=postgres
DB_PASSWORD=SapatonaLoucaSenhor
